
h1 {
	background-color: DarkSlateGrey;
	color: white;
	font: Arial;
	font-size: 2.5em;
	font-style: italic;
	text-align: center;
}

#menu {
	text-align: center;
	
}

#intro {
	border-style: hidden;
	padding: 2%;
	overflow: auto;
	text-indent: 2%;
	text-align: justify;
}

#pub {
	border-style: hidden;
	text-indent: 1%;
	text-align: justify;
}

#initialParagraph {
overflow: auto;
}

#copyrights {
 text-align: center;
 font-size: 0.8em;
 font-family: "Arial";
}

img  {
	float: left;
	margin: 2%;
	margin-right: 4%;
	padding-top: 1%;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: #222;
      background-color:#fffffe;
      line-height: 2.5;
      margin: 20px;
    }


h2 {
	border-style: outset;
	border-color: LightYellow;
	color: HoneyDew;
	background-color: LightSlateGray;
	font-size: 1.8em;
	padding: 0.5%;
}

p {
	font-style: italic;
	font-size: 1,4em;
}

ul {
	font-style: italic;
}

/* jquery-ui code */

  #selectable .ui-selecting { background: LightSlateGray; }
  #selectable .ui-selected { background: LightSlateGray; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
